@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
$grey: rgb(243, 243, 243);
$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

*{
  box-sizing: border-box;
}
html,
body{
  background-color: $grey;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
#root{
  height: 100%;
}
.main-wrapper{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(146,233,251,1) 100%);
  padding: 15px;
  min-height: 100%;
  h1{
    text-align: center;
    @include adaptiv-font(70, 30);
    font-weight: 800;
  }
  h2{
    text-align: center;
    @include adaptiv-font(20, 15);
  }
}
.main{
  margin: 0 auto;
  display: flex;
}
.about-me{
  width: 25%;
  @media (max-width: 600px){
    width: 70%;
  }
  &__contacts{
    width: 100%;
    padding: 15px;
    &-adress{
      font-weight: 800;
      @include adaptiv-font(20, 12);
      @media (max-width: 600px){
        text-align: center;
      }
    }
    &__tel-number{
      margin-top: 15px;
      a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: black;
        font-weight: 600;
        @include adaptiv-font(14, 12);
        .tel-img{
          min-width: 20%;
          width: 20%;
          img{
            width: 100%;
          }
        }
        .contact-data{
          margin-left: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 77%;
        }
      }
    }
  }
}
.advance-about-me{
  width: 75%;
  margin-left: 20px;
  padding: 15px;
  @media (max-width: 600px) {
    margin-left: 0;
  }
  .category-about{
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    &__title{
      @include adaptiv-font(50, 35);
      font-weight: 800;
      margin-bottom: 15px;
    }
    &__description{
      @include adaptiv-font(30, 16);
      font-weight: 600;
      margin-bottom: 10px;
      &__expirience{
        @include adaptiv-font(20, 12);
        font-weight: 600;
      }
      &-tech{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .technology{
          background-color: #fff;
          border-radius: 10px;
          width: 15%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
          margin-bottom: 15px;
          @media (max-width: 1000px){
            width: 30%;
          }
          &__img{
            width: 100%;
            padding-top: 100%;
            position: relative;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
            }
          }
          &__name{
            @include adaptiv-font(16, 12);
          }
        }
      }
    }
    &__description-sites{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .site{
        &__wrapper{
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          padding: 15px;
          background-color: #fff;
          border-radius: 10px;
          margin-bottom: 15px;
          @media (max-width: 900px){
            width: 100%;
          }
        }
        &__img{
          width: 100%;
          padding-top: 60%;
          overflow: hidden;
          position: relative;
          border: 3px solid grey;
          border-radius: 5px;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
          }
        }
        &__title{
          margin-top: 15px;
          @include adaptiv-font(24, 12);
          font-weight: 600;
        }
      }
    }
    &__expierence,
    &__specialty{
      margin-bottom: 5px;
    }
  }
}
.footer-information{
  text-align: center;
}
@media (max-width: 600px){
  .main{
    flex-direction: column;
    align-items: center;
  }
}